/***********************Admin***********************/
body {
  font-family: Georgia;
  color: #444; }
  body table {
    width: 100%;
    vertical-align: top;
    border-top: 1px solid #d8d8d8; }
    body table th, body table td {
      font-size: 12px;
      padding: 5px;
      text-align: left;
      border-bottom: 1px solid #d8d8d8; }
    body table th {
      background-color: #c9f7fa; }
    body table .col1 {
      width: 100px; }
    body table .col2 {
      width: 100px; }
    body table .col4 {
      width: 110px; }
    body table .col5 {
      width: 600px; }
    body table .alt td {
      background-color: #ebebeb; }
